* {
  font-family: 'Outfit', sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Outfit', sans-serif !important;
}